
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row w3-padding-32">
        @foreach (var i in ViewBag.SearchProduct) {
            <div class="col-md-3">
                <div class="w3-card-4">
                    <img src="~/Content/images/@Html.Encode(i.img)" width="100%" height="300px"/>
                    <table class="w3-table-all w3-small w3-center">
                        <tr>
                            <td>@Html.Encode(i.title)</td>
                        </tr>
                        <tr>
                            <td>@Html.Encode(i.author)</td>
                        </tr>
                        <tr>
                            <td>@Html.Encode(i.category)</td>
                        </tr>
                        <tr>
                            <td>@Html.Encode(i.location)</td>
                        </tr>
                        <tr>
                            <td>Total Pages: @Html.Encode(i.pages)</td>
                        </tr>
                        <tr>
                            <td>Tags: @Html.Encode(i.tags)</td>
                        </tr>
                        <tr>
                            <td>
                                @if (i.isFav == 1) {
                                <form method="POST" action="/Home/Remove_to_fav">
                                    <input type="hidden" name="id" value="@Html.Encode(i.id)" />
                                    <center><button class="w3-btn w3-red w3-small w3-round"><img src="~/Content/images/heart.png" height="15px" /></button></center>
                                </form>
                                } else {
                                    <form method="POST" action="/Home/Add_to_fav">
                                       <input type="hidden" name="id" value="@Html.Encode(i.id)"/>
                                        <center><button class="w3-btn w3-green w3-small w3-round"></button><img src="~/Content/images/heart.png" height="15px" /></center>
                                    </form>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

